<% include partials/header %>
    <h1>Sound Portrait</h1>
    <% include partials/error %>
    <p id="loading" style="display: none">Loading...</p>
    <form method="POST" action="/" enctype="multipart/form-data" onsubmit="return validateFunc()" id="form">
        <input type="file" name="image" oninput="recordDimensions()" id="file" accept=".png,.svg,.bmp,.jpeg,.jpg" required>
        <input type="hidden" name="height" id="height">
        <input type="hidden" name="width" id="width">
        <input type="number" name="numberChunksX" placeholder="Horizontal image partitions" id="numberChunksX" oninput="drawGrid()" step="1" min="1" required>
        <input type="number" name="numberChunksY" placeholder="Vertical image partitions" id="numberChunksY" oninput="drawGrid()" step="1" min="1" required>
        <input type="number" name="blockDuration" placeholder="Time per block (s)" step="0.001" min="0" required>
        <p>Size: <span id="height-info">0</span> x <span id="width-info">0</span></p>
        <canvas id="preview" src="" style="height: 200px; display: none; background-size: cover"></canvas>
        <p>Image color frequency <span class="italic">f</span> (THZ) to sound frequency <span class="italic">s</span> (HZ) mapping</p>
        <p>Supported functions: log, sin, cos, tan</p>
        <p>Ex: s = e^f + 3*f^2 - log(f + 2) + sin(3 / f)</p>
        <p>s = <input type="text" id="mappingFunction" oninput="parseFunction()" value="f" required></p>
        <input type="hidden" name="mappingFunction" id="mappingFunctionParsed">
        <input type="submit" value="Process">
    </form>
<% include partials/footer %>
